<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaxingrong.mapper.PicMapper">

    <sql id="baseColumn">
        id,`key`,`name`,`type`,`size`,url,`addTime`,updateTime
    </sql>

    <insert id="insertPic">
        <selectKey order="AFTER" keyColumn="newId" keyProperty="pic.id" resultType="integer">
            select LAST_INSERT_ID() as newId
        </selectKey>
        insert into cskaoyan_mall_pic (<include refid="baseColumn"/>)
        values (#{pic.id},#{pic.key},#{pic.name},#{pic.type},#{pic.size},#{pic.url},#{pic.addTime},#{pic.updateTime})
    </insert>
</mapper>